html{
    width: 100%;
    height: 100%;
    display: table;
}
body{
    background-color: #00252F;
      display: table-cell;
}

.cont {
  background-color: #00000025;
}

.cola {
  background-color: #FFFFFF;
}

.txt {
  font-size: 15px;
}

.frame{
  text-align: center;
  vertical-align: middle;
}

.link{
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.link:hover{
  display: inline-block;
  text-decoration: none;
  color: #007070;
}
