html{
    width: 100%;
    height: 100%;
    display: table;
}
body{
    background-color: #00252F;
    vertical-align: middle;
    display: table-cell;
}

.cont {
  background-color: #00000025;
}

.cola {
  background-color: #FFFFFF;
}

.txt {
  font-size: 15px;
}

.frame{
  text-align: center;
}
