html{
    width: 100%;
    height: 100%;
    display: table;
}
body{
    background-color: #00252F;
      display: table-cell;
}

.cont {
  background-color: #00000025;
}

.cola {
  background-color: #FFFFFF;
}

.txt {
  font-size: 15px;
}

.frame{
  text-align: center;
  vertical-align: middle;
}

.link{
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.link:hover{
  display: inline-block;
  text-decoration: none;
  color: #007070;
}

.link2{
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.link2:hover{
  display: inline-block;
  text-decoration: none;
  color: #007070;
}

.simplescrollup__button {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	transition: 1s all;
	z-index: 10000;
}
.simplescrollup__button--show {
	transform: translateX(0);
}
.simplescrollup__button--hide {
	transform: translateX(100px);
}
